<div class="container mt-5">
    <h1 class="text-center mb-4">Contact me here</h1>
    <div class="card bg-light shadow">
        <div class="card-body">
            <h5 class="card-title">Contact Details</h5>
            <p class="card-text">Mobile Number: <strong>90244****6</strong></p>
            <p class="card-text">Email Id: <strong>daksh919&#64;gmail.com</strong></p>
        </div>
    </div>
    <div class="text-center mt-5">
        <a href="https://www.instagram.com/kya.yaar.dushyant/" target="_blank" class="btn btn-primary me-3"><i
                class="bi bi-instagram"></i> Instagram</a>
        <a href="https://www.facebook.com/dushyant.suthar.1" target="_blank" class="btn btn-primary me-3"><i
                class="bi bi-facebook"></i> Facebook</a>
        <a href="mailto:daksh919@gmail.com" class="btn btn-primary"><i class="bi bi-envelope"></i> Email</a>
    </div>
</div>